<!DOCTYPE html>
<!-- Adapted from https://www.codingnepalweb.com/create-login-registration-form-html-css/ -->
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login & Registration Form</title>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="check">
        <div class="login form">
            <header>Login</header>
            <form method="post" name = "login" action="/">
                <input name = "log_email" type="text" placeholder="Enter your email">
                <input name = "log_password" type="password" placeholder="Enter your password">
                <a href="#">Forgot password?</a>
                <input type="submit" class="button" value="Login">
            </form>
            <div class="signup">
                <span class="signup">Don't have an account?
                    <label for="check">Register</label>
                </span>
            </div>
        </div>
        <div class="registration form">
            <header>Signup</header>
            <form method="post" name = "signup" action="/">
                <input name = "sign_email" type="text" placeholder="Enter your email">
                <input name = "sign_password" type="password" placeholder="Create a password">
                <input name = "sign_confirm" type="password" placeholder="Confirm your password">
                <input type="submit" class="button" value="Register">
            </form>
            <div class="signup">
                <span class="signup">Already have an account?
                    <label for="check">Login</label>
                </span>
            </div>
        </div>
        <div>
            {{ error }}
        </div>
    </div>
</body>

</html>