<!DOCTYPE html>
<html>
<head>
    <title>Symptoms and Diseases</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"></script>
    <!---Custom CSS File--->
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
<div class="container">
    <h1>Symptoms and Diseases</h1>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Date</th>
            <th>Disease</th>
        </tr>
        </thead>
        <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.date }}</td>
            <td>
                <a href="#collapse_{{ loop.index }}" data-toggle="collapse">{{ item.disease }}</a>
                <div id="collapse_{{ loop.index }}" class="collapse">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Symptoms</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>
                                <ul>
                                    {% for symptom in item.symptoms %}
                                    <li>{{ symptom }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
